form{
  margin-top: 5%;
  margin-bottom: 5%;
}
.form-control{
  color: #fff;
}
.floating-label-form-group {
  font-size: 14px;
  position: relative;
  margin-bottom: 4px;
  padding-bottom: 0.5em;
  border-bottom: 3px solid #555;
}
.floating-label-form-group input,
.floating-label-form-group textarea {
  z-index: 1;
  position: relative;
  padding-right: 0;
  padding-left: 0;
  border: none;
  border-radius: 0;
  font-size: 1.5em;
  background: none;
  box-shadow: none !important;
  resize: none;
}
.floating-label-form-group label {
  display: block;
  z-index: 0;
  position: relative;
  top: 2em;
  margin: 0;
  font-size: 0.85em;
  line-height: 1.764705882em;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
  -webkit-transition: top 0.3s ease,opacity 0.3s ease;
  -moz-transition: top 0.3s ease,opacity 0.3s ease;
  -ms-transition: top 0.3s ease,opacity 0.3s ease;
  transition: top 0.3s ease,opacity 0.3s ease;
}
.floating-label-form-group::not(:first-child) {
  padding-left: 14px;
  border-left: 3px solid #fff;
}
.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}
.floating-label-form-group-with-focus label {
  color: #149b60;
}
.contacts{
  position: relative;
  background: #ccc;  
  padding-top: 5%;
  padding-bottom: 5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.email{
  background-image: url('../img/contact-bg/email.jpg');
}
.phone{
  background-image: url('../img/contact-bg/phone.jpg')
}
.full-container{
  padding-right: 0;
  padding-left: 0;
  width: 100%;
}
.text-center{
  text-align: center;
}
.text-thin{
  font-weight: 300;
}