* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
html,
body {
    background-color: #222222;
    color: #fff;
    height: 100%;
	font-family:"Open Sans", "Microsoft YaHei Light", sans-serif;
}
a{
	color:#fff;
}
a:hover,
a:focus,
a:active{
	text-decoration:none;
	color:#149b60;
}
ul{
	list-style-type:none;
}
h2 {
    color: #fff;
    text-transform:uppercase;
    font-size:3em;
    font-weight:700;
}
h3{
    font-weight: 300;
    text-transform: uppercase;
    font-style: italic;
    color: #fff;
}
h4{
    color: #fff;
}
.row{
    margin-right: 0;
    margin-left: 0;
}
.btn-primary {
    border-color: #149b60;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background-color: #149b60;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #0E6D43;
    color: #fff;
    background-color: #0E6D43;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-xl {
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    padding: 20px 40px;
    border-color: #149b60;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #149b60;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #0E6D43;
    color: #fff;
    background-color: #0E6D43;
}
/*For Disabled Buttons and text fields*/
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #222;
    background-color: #222;
}
.navbar{
    letter-spacing: 2px;
    z-index: 4;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
	background-color:rgba(17,17,17,.05);
	border-color:rgba(17,17,17,.05);
    text-transform: uppercase;
}
.navbar-inverse .navbar-brand{
	color:#fff;
	text-transform:uppercase;
    font-weight: bolder;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:active{
	color:#149b60;
}
.navbar-inverse .nav li a{
	font-size:1.2em;
	color:#fff;
}
.navbar-inverse .nav li a:hover,
.navbar-inverse .nav li a:focus {
    outline: 0;
    color: #149b60;
}
.navbar-inverse .navbar-toggle .icon-bar{
	background-color:#fff;
}
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
.navbar-inverse .navbar-collapse{
	border-color:rgba(255,255,255,.02);
}
@media(min-width:768px) {
    .navbar-inverse{
        padding: 20px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
	.navbar-inverse .nav li a{
	    -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
	}
    .navbar-inverse .navbar-brand {
        font-size: 1.6em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-inverse .navbar-nav>.active>a {
        border-radius: 3px;
		
    }
	.navbar-inverse.navbar-shrink {
		padding:5px;
    }    
	.navbar-inverse.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
	.navbar-inverse.navbar-shrink {
    background-color: #555;
    }
}
header{
    line-height: 100%;
    padding:10% 10% 20% 10%;
    background-color: #333;
    background: rgba(0,0,0,.3) url("../img/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    position: relative;
    text-align:center;
    z-index: 3;
}

header h1{
    text-transform: uppercase;
    font-size: 5em;
    color: #fff;
    text-shadow: 2px 2px 15px #333;
}
#namet{
    margin-top: 1px;
}
header a{
    text-shadow: 2px 2px 20px #333;
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    text-transform: uppercase;
}
header a:hover{
    color: #fff;
}
.intro {
    background-color: #1c1c1c;
    padding: 50px 30px 50px 30px;
    width: 100%;
}
.service-cont {
    background-color: #333;
    padding: 50px 30px 50px 40px;
    width: 100%;
}
.service-cont .row{
    width: 100%;
}
.service-cont h2{
    color: #fff;
}
.portfolio-cont {
    background-color: #333;
    padding: 50px 0px 0px 0px;
    width: 100%;
}
.portfolio-cont .row{
    width: 100%;
}
.portfolio-cont h2{
    color: #fff;
}
.intro .row{
    width: 100%;
}
.intro h2{
    color: #fff;
}
.intro p{
    color:#ccc;
}

.emphasize-para{
    line-height: 1.6em;
    color: #fff;
}
.img-profile{
    width: 30em;
    border-radius: 50%;
    border: 0.5em solid;
}
@media(min-width:769px){
    .intro-text{
    	letter-spacing:0.01em;
    	font-size:1.2em;
    }

}

section h3.section-subheading {
    margin-bottom: 3em;
    text-transform: none;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}
.text-primary{
	color:#149b60;
}
.quotes{
    background-color: #333;
    background: rgba(0,0,0,.3) url("../img/quotes-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding: 60px 30px 60px 30px;
    width: 100%;
}
.quotes-in{
    padding: 0 30px 50px 40px;
    width: 100%;
}
.quotes-in h2{
    color: #fff;

}
.quotes h3{
    color: #f2f2f2;
	margin-bottom:30px;
}
.cbp-qtrotator {
	position: relative;
	margin: 0 auto 0 auto;
	max-width: 800px;
    min-height: 300px;
	width: 100%;
}
.cbp-qtrotator .cbp-qtcontent {
	-webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
	position: absolute;
	min-height: 200px;
	padding: 2em 0;
	top: 0;
	z-index: 0;
	opacity: 0;
	width: 100%;
}

.no-js .cbp-qtrotator .cbp-qtcontent {
	border-bottom: none;
}
/* Currently visible */
.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent,
.no-js .cbp-qtrotator .cbp-qtcontent {
	position: relative; 
	z-index: 1;
	pointer-events: auto;
	opacity: 1;
}
.cbp-qtrotator .cbp-qtcontent:before,
.cbp-qtrotator .cbp-qtcontent:after {
	content: " ";
	display: table;
}
.cbp-qtrotator .cbp-qtcontent:after {
	clear: both;
}
.cbp-qtprogress {
	position: absolute;
	background: #149b60;
	height: 2px;
	width: 0;
	top: 0;
	z-index: 1;
}
.cbp-qtrotator blockquote h3 {
    font-size: 1.5em;
    color: #fff;
    font-weight: 800;
}
.cbp-qtrotator blockquote {
    font-weight: 800;
	border-left:none;
	margin: 0;
	padding: 0;
}
.cbp-qtrotator blockquote p {
    font-style: italic;
	font-size: 1.2em;
	color: #f2f2f2;
	font-weight: 200;
	margin: 0.4em 0 1em;
}
.cbp-qtrotator blockquote footerQuote {
	font-size: 1em;
    color: #fff;
	margin-top:10px;
	float: inherit;
}
.cbp-qtrotator blockquote h3 {
    text-transform: uppercase;
}
.cbp-qtrotator blockquote footerQuote:before {
	content: '- ';
}
.cbp-qtrotator .cbp-qtcontent img {
    border-radius: 100%;
	float: right;
	margin-left: 3em;
}
/* Example for media query for quote rotator */
@media screen and (max-width: 30.6em) { 
	.cbp-qtrotator {
		font-size: 70%;
	}
	.cbp-qtrotator img {
		width: 80px;
	}
}
footer {
    background: rgba(0,0,0,.3) url("../img/footer-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #333;
	text-align:left;
}
.form-group input,.form-group textarea {
    padding: 40px;
    
}

 .form-group input.form-control {
    height: auto;
}

 .form-group textarea.form-control {
    height: 236px;
}

 .form-control:focus {
    border-color: #0E6D43;
    box-shadow: none;
}
input.transparent-input{
    background-color:rgba(255,255,255,0.2) !important;
    border-color: rgba(255,255,255,0.2);
    color: #fff;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}
 .form-control::-webkit-input-placeholder {
    text-transform: uppercase;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
}

 .form-control:-moz-placeholder {
    text-transform: uppercase;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
}

 .form-control::-moz-placeholder {
    text-transform: uppercase;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
}

 .form-control:-ms-input-placeholder {
    text-transform: uppercase;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    color: #fff;
}

 .text-danger {
    color: #e74c3c;
}

ul.social-buttons {
    margin-top: 20px;
    margin-bottom: 10px;
}
ul.social-buttons li a {
    text-align:center;
	background-color:#333;
    display: block;
	font-size:1.5em;
    width: 40px;
    height: 40px;
	line-height:40px;
    border-radius: 100%;
    outline: 0;
    color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #444;
}

ul.social-buttons li a.linkedin:hover,
ul.social-buttons li a.linkedin:focus,
ul.social-buttons li a.linkedin:active {
	background-color: #0077b5;
}

ul.social-buttons li a.instagram:hover,
ul.social-buttons li a.instagram:focus,
ul.social-buttons li a.instagram:active {
    background-color: #A1887F;
}

li.list-group-item{
    border:none;
    padding-top: 10px;
    padding-left:0 !important;
    padding-bottom: 10px;
    background-color:rgba(255,255,255,0) !important;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

::-moz-selection { /* Code for Firefox */
    color: #111;
    background: #149b60;
}

::selection { /* Code for Everything Else */
    color: white;
    background: #149b60;
}

.portfolio-modal .modal-content {
    background-color: #333;
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
    color: #fff;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
    color: #fff;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #fff;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #fff;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

@media(max-width:769px){
	body{
		text-align:center;
	}
    header{
        padding:40% 10% 30% 10%;
    }
    footer{
        text-align:center;
    }
    .intro {
        padding: 50px 10px 50px 10px;
    }
    .input-group{
        margin-left: 25%;
    }
    .divider{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 35px;
    }
    .img-profile{
        display: none;
    }
    .intro {
        padding: 30px, 0px, 50px, 0px;
        background-color: #1c1c1c;
    }
	.mobilePortfolio{
		display:inline-block;
	}
	.navbar-inverse {
        background-color: #555;
    }
	.cbp-qtprogress {
        display: none;
	}
    .cbp-qtrotator blockquote footer {
    text-align: center;
    }
    header h1{
    font-size: 3em;
    }
    header a{
        font-size: 1.5em;
    }
}
@media(max-width:500px){
    header h1{
        display: none;
    }
    header a{
        display: none;
    }
    .btn-xl{
        padding: 10px 20px 10px 20px;
    }
    .text-center{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}
@media(max-width:321px){
    header h1{
        display: none;
    }
    header a{
        display: none;
    }
    .btn-xl{
        padding: 5px 10px 5px 10px;
    }
    .text-center{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}
img::selection {
  color: white;
  background: transparent;
}
img::-moz-selection {
  color: white;
  background: transparent;
}
span.divider {
    background-color: #149b60;
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 150px;
    height: 2px;
}

span.divider-long {
    margin-right: auto;
    margin-left: auto;
    background-color: #149b60;
    display: block;
    margin-bottom: 25px;
    width: 150px;
    height: 2px;
}
.portfolio-array{
    width:100%;
    margin-right: 0;
    margin-left: 0;
}

.portfolio-item{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-left: 0px;
    padding-right: 0px;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

/*Testing content*/
#portfolio .portfolio-item .portfolio-link {
    display: block;
    max-width: 400px;
    height: 350px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: #149b60;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 0.8;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 40px;
    width: 2px;
    margin-left: -1.5px;
    background-color: #f1f1f1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: right;
    position: relative;
    width: 100%;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 1;
    position: absolute;
    left: 0;
    width: 80px;
    height: 80px;
    margin-left: 0;
    border: 7px solid #f1f1f1;
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #149b60;
}

.timeline>li .timeline-image h4{
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 20px 0 100px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
    margin-top: 0;
}

.timeline .timeline-heading h4.subheading {
    text-transform: none;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
    margin-bottom: 0;
}

@media(min-width:768px) {
    .timeline:before {
        left: 50%;
    }

    .timeline>li {
        margin-bottom: 100px;
        min-height: 100px;
    }

    .timeline>li .timeline-panel {
        float: left;
        width: 41%;
        padding: 0 20px 20px 30px;
        text-align: right;
    }

    .timeline>li .timeline-image {
        left: 50%;
        width: 100px;
        height: 100px;
        margin-left: -50px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 16px;
        font-size: 13px;
        line-height: 18px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        float: right;
        padding: 0 30px 20px 20px;
        text-align: left;
    }
}

@media(min-width:992px) {
    .timeline>li {
        min-height: 150px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px;
    }

    .timeline>li .timeline-image {
        width: 150px;
        height: 150px;
        margin-left: -75px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 30px;
        font-size: 18px;
        line-height: 26px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 20px 20px;
    }
}

@media(min-width:1200px) {
    .timeline>li {
        min-height: 170px;
    }

    .timeline>li .timeline-panel {
        padding: 0 20px 20px 100px;
    }

    .timeline>li .timeline-image {
        width: 170px;
        height: 170px;
        margin-left: -85px;
    }

    .timeline>li .timeline-image h4 {
        margin-top: 40px;
    }

    .timeline>li.timeline-inverted>.timeline-panel {
        padding: 0 100px 20px 20px;
    }

}
@media(min-width:1440px) {
    .img-profile{
        width:50%;
        margin-left: 20%;
    }
    header{
        padding:20% 10% 20% 10%;
    }
    header a{
        font-size: 4em;
    }
    .intro-text{
        margin-top: 20px;
    }
}
.lower-case{
    text-transform: lowercase !important;
}
#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #0E6D43;

    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */

    z-index: 1001;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #0E6D43;

    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #0E6D43;

    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   { 
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

#loader-wrapper .loader-section {
    position: fixed;
    top: 0;
    width: 51%;
    height: 100%;
    background: #222222;
    z-index: 1000;
    -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: translateX(0);  /* IE 9 */
    transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}

#loader-wrapper .loader-section.section-left {
    left: 0;
}

#loader-wrapper .loader-section.section-right {
    right: 0;
}

/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(-100%);  /* IE 9 */
            transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateX(100%);  /* IE 9 */
            transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader {
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;  
            transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
    visibility: hidden;

    -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: translateY(-100%);  /* IE 9 */
            transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */

    -webkit-transition: all 0.3s 1s ease-out;  
            transition: all 0.3s 1s ease-out;
}

/* JavaScript Turned Off */
.no-js #loader-wrapper {
    display: none;
}
.no-js h1 {
    color: #222222;
}
.disabled-link{
    cursor: not-allowed;
}
div#preload { display: none; }