
body {
    overflow-x: hidden;
    font-family: "Open Sans",sans-serif;
    background-color: #333;
    color: #fff;
}

p {
    font-size: 1.3em;
    line-height: 1.75;
}

p.large {
    font-size: 1.5em;
}

a{
    color:#fff;
}
a:hover,
a:focus,
a:active{
    text-decoration:none;
    color:#149b60;
}
.body-container{
    width:70%;
}

.img-centered {
    margin: 0 auto;
}

.btn-primary {
    border-color: #149b60;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;
    background-color: #149b60;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    border-color: #0E6D43;
    color: #fff;
    background-color: #0E6D43;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-image: none;
}
.btn-xl {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    padding: 20px 40px;
    border-color: #149b60;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #149b60;
}
.btn-xl:hover,
.btn-xl:focus,
.btn-xl:active,
.btn-xl.active,
.open .dropdown-toggle.btn-xl {
    border-color: #0E6D43;
    color: #fff;
    background-color: #0E6D43;
}
/*For Disabled Buttons and text fields*/
.btn-xl.disabled,
.btn-xl[disabled],
fieldset[disabled] .btn-xl,
.btn-xl.disabled:hover,
.btn-xl[disabled]:hover,
fieldset[disabled] .btn-xl:hover,
.btn-xl.disabled:focus,
.btn-xl[disabled]:focus,
fieldset[disabled] .btn-xl:focus,
.btn-xl.disabled:active,
.btn-xl[disabled]:active,
fieldset[disabled] .btn-xl:active,
.btn-xl.disabled.active,
.btn-xl[disabled].active,
fieldset[disabled] .btn-xl.active {
    border-color: #222;
    background-color: #222;
}

.navbar{
    letter-spacing: 2px;
    z-index: 4;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    background-color:rgba(17,17,17,.05);
    border-color:rgba(17,17,17,.05);
    text-transform: uppercase;
}
.navbar-inverse .navbar-brand{
    color:#fff;
    text-transform:uppercase;
    font-weight: bolder;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:active{
    color:#149b60;
}
.navbar-inverse .nav li a{
    font-size:1.2em;
    color:#fff;
}
.navbar-inverse .nav li a:hover,
.navbar-inverse .nav li a:focus {
    outline: 0;
    color: #149b60;
}
.navbar-inverse .navbar-toggle .icon-bar{
    background-color:#fff;
}
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
}
.navbar-inverse .navbar-collapse{
    border-color:rgba(255,255,255,.02);
}
@media(min-width:768px) {
    .navbar-inverse{
        padding: 20px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .navbar-inverse .nav li a{
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    .navbar-inverse .navbar-brand {
        font-size: 1.6em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-inverse .navbar-nav>.active>a {
        border-radius: 3px;
        
    }
    .navbar-inverse.navbar-shrink {
        padding:5px;
    }    
    .navbar-inverse.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
    .navbar-inverse.navbar-shrink {
    background-color: #555;
    }
}

@media(max-width:1369px){
    .intro-header{
        padding: 0 0 0 0;
    }

}
header {
    text-align: center;
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
section {
    padding: 100px 0;
}
section h2.section-heading {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
}
section h3.section-subheading {
    margin-bottom: 75px;
    text-transform: none;
    font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
}
@media(min-width:768px) {
    section {
        padding: 150px 0;
    }
}
article{
    padding-bottom: 5%;
}
.item{
    margin-top: 30px;
}
footer {
    background: rgba(0,0,0,.3) url(../../img/footer-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: #333;
    text-align:left;
}
.project-scroller{
    font-size: 3em;
}
.prev-btn{
    margin-left: 35%;
}
ul.social-buttons {
    margin-top: 20px;
    margin-bottom: 10px;
}
ul.social-buttons li a {
    text-align:center;
    background-color:#333;
    display: block;
    font-size:1.5em;
    width: 40px;
    height: 40px;
    line-height:40px;
    border-radius: 100%;
    outline: 0;
    color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #444;
}

ul.social-buttons li a.linkedin:hover,
ul.social-buttons li a.linkedin:focus,
ul.social-buttons li a.linkedin:active {
    background-color: #0077b5;
}

ul.social-buttons li a.instagram:hover,
ul.social-buttons li a.instagram:focus,
ul.social-buttons li a.instagram:active {
    background-color: #A1887F;
}

li.list-group-item{
    border:none;
    padding-top: 10px;
    padding-left:0 !important;
    padding-bottom: 10px;
    background-color:rgba(255,255,255,0) !important;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

::-moz-selection { /* Code for Firefox */
    color: #111;
    background: #149b60;
}

::selection { /* Code for Everything Else */
    color: white;
    background: #149b60;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}
@media(max-width:769px){
    .navbar-inverse {
        background-color: #555;
    }
    footer{
        text-align:center;
    }
    .body-container{
        width: 90%;
    }
    p{
        font-size: 1em;
    }
    blockquote{
        font-size: 1.2em;
    }
    .project-scroller{
        font-size: 20px;
    }
    .logo-img{
        width: 50%;
    }
}
.show-slider {
    width: 100%;
    margin: 100px auto;
    margin-top: 60px;
}

.slick-slide {
  padding: 0px 10px;
}

.slick-slide img {
  width: 100%;
}

.slick-prev:before,
.slick-next:before {
    color: black;
}